---
---

@import "{{ site.theme }}";

body {
  background: black;
  min-height: 100%;
}

.page-header {
  background: #a9d0f1; // Light blue
  border-bottom: 4px solid black;
  .project-name {
    max-width: 100%; // For smaller displays
    margin-bottom: 2rem;
  }
  .project-tagline {
    display: none; // Don't want to remove it from the HTML
  }
  button {
    color: #d861a6; // Pink
    font-size: 1.3em;
    width: 10em;
    max-width: 30%;  // For smaller displays
    background: none;
    border: 4px solid transparent;
    border-radius: 0px;
  }
  button:nth-child(odd):hover {
    border: 4px solid #d861a6; // Pink
  }
  button:nth-child(even):hover {
    background: #d861a6; // Pink
    color: white;
  }
  button:focus {
    outline: 0; // To remove the defalut blue outline when clicked
  }
}

.main-content {
  background: url("/assets/img/background.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 30rem;
}

.site-footer {
  border-top: none;
}

@media screen and (min-width: 64em) {
  .page-header {
    padding: 5rem 6rem 3rem 6rem;
  }
  .main-content {
    max-width: 100%;
    padding: 2rem 15rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .page-header {
    padding: 3rem 4rem 2rem 4rem;
  }
}
@media screen and (max-width: 42em) {
  .page-header {
    padding: 2rem 1rem 1rem 1rem;
  }
}
